div.flex-row.flex-center
    p This app uses Merriam-Webster's Collegiate&#174 Dictionary with Audio
    a(href="https://dictionaryapi.com/products/index" target="_blank")
        img(src="../images/logos/MWLogo.png" style="height: 50px; width: 50px;")
div.flex-row.flex-center
    p Tile images by
    a(href="https://www.obsidiandawn.com" target="_blank")
        img(src="../images/tiles/credit.jpg", alt="Images by ObsidianDawn",
        style="position: relative; float: right; height: 50px; width: 120px;")