extends layout.pug 

block title 
    title Unscramble | Anagram Generator

block nav
    a.float-right(href="https://github.com/AhamSammich/unscrabble" target="_blank") 
        .flex-row.flex-center
            p View project at GitHub.com/AhamSammich
            img(src="./images/logos/GitHub-Mark-64px.png" alt="GitHub"
            style="height: 35px; width: 35px;")

block header
    .tile-set.flex-row(style="padding-top: 10%;")
        each char in "unscrambler"
            .tile(
                style=`background-image: url('./images/tiles/${
                    char.toLowerCase()}.png'); background-size: cover;`
            )
    h2(style="letter-spacing: 2px;") Anagram Generator

block main
    main.flex-col.flex-center
        form.flex-row.flex-even(action="/results" method="POST" style="gap: 5rem;")
            .flex-col.flex-center(style="gap: .5rem;")
                label(for="letters") Letters ( A - Z )
                input#letters(
                    type="text" name="letters" maxlength="15" minlength="3" pattern="[A-Za-z]{3,15}"
                    placeholder="Enter letters here!" required
                    )
                button(id="submit-btn" type="submit") Unscramble it! 
            .flex-col.flex-center
                p Find Word Length ( 3 - 15 )
                .flex-row.flex-center
                    label(for="max") Max: 
                    input#max(type="number" name="max" value="15" max="15" min="3") 
                .flex-row.flex-center
                    label(for="min") Min: 
                    input#min(type="number" name="min" value="3" max="15" min="3")
