extends layout.pug 

block title 
    title Unscrabble | Anagram Generator

block nav
    a.float-left(href="https://github.com/AhamSammich/unscrabble" target="_blank") 
        .flex-row.flex-center
            img(src="./images/logos/GitHub-Mark-64px.png" alt="GitHub"
            style="height: 30px; width: 30px;")
            p View project on GitHub.com/AhamSammich

block header
    .tile-set.flex-row(style="padding-top: 10%;")
        each char in "unscrabble"
            .tile(
                style=`background-image: url('./images/tiles/${
                    char.toLowerCase()}.png'); background-size: cover;`
            )
    h2(style="letter-spacing: 2px;") Anagram Generator

block main
    main.flex-col.flex-center
        form.flex-center(action="/results" method="POST")
            .flex-row.flex-center
                label(for="letters") Letters: 
                input#letters(
                    type="text" name="letters" maxlength="10" minlength="3"
                    placeholder="Enter 3 to 10 letters here!" required
                    )
                button(id="submit-btn" type="submit") Unscrabble it! 
            .flex-row.flex-center
                label(for="max") Max: 
                input#max(type="number" name="max" value="7" max="10" min="3") 
                label(for="min") Min: 
                input#min(type="number" name="min" value="3" max="10" min="3") 
