doctype html 
html(lang="en")
    head
        block title
        link(rel="stylesheet" href="./css/style.css")
        link(rel="stylesheet" href="./css/loader.css")
        block script

    body 
        nav
            block nav 
        header.flex-col.flex-center
            block header 
        block main 
        footer.flex-row.flex-even
            block footer
            include includes/foot.pug
