* {
    box-sizing: border-box;
    /* font-size: 62.5%; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

body {
    min-width: minmax(720px, 100%);
    height: 100vh;
    background: #EEE;
    display: grid;
    grid-template-rows: 50px 1fr 1fr max-content;
}

nav {  
    width: 100%;
    height: max-content;
    background-color: white;
    padding: .5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

input,
button {
    height: fit-content;
    min-width: fit-content;
    padding: .5rem;
    font-size: 1.5rem;
}

header {
    margin-bottom: 2rem;
}

.tile {
    height: 4.5rem;
    width: 4rem;
}

@media (min-width: 800px) {
    form {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }
    
    main {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: .25fr max-content;
        gap: 2rem;
    }
    
    footer {
        position: sticky;
        bottom: 0vh;
    }
}

@media (max-width: 800px) {
    form {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    main {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: .25fr max-content;
        gap: 1rem;
    }

    #tile-set {
        gap: 0;
    }
}

footer {
    width: 100%;
    background-color: white;
    font-size: smaller;
    margin-top: 2rem;
    padding: 1em;
}

footer div {
    min-height: 50px;
    gap: .25rem
}

div {
    max-width: 100%;
    margin: .25rem;
}

ul {
    align-self: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-even {
    justify-content: space-evenly;
    align-items: center;
}

.float-left {
    position: relative;
    float: left;
}

.float-right {
    position: relative;
    float: right;
}

[data-class='label'] {
    font-style: italic;
    font-size: smaller;
}

[data-class='word'] {
    cursor: pointer;
    letter-spacing: 1px;
}

[data-hidden] {
    opacity: 0;
    height: 0;
}

.fade-in {
    animation: fade-in 1.5s;
    opacity: 1;
    height: fit-content;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
